---
ratios:
    preserve: ''
    portrait: "ratio-4:5"
    landscape: "ratio-5:4"
    square: "ratio-1:1"
    video: "ratio-16:9"
    ultrawide: "ratio-21:9"
    fill: "ratio-fill"
---

{{ if image  }}

<figure class="overflow-hidden w-full h-full relative rounded-md{{lazy ? ' bg-primary-900 ' : ''}}{{ratio ? (' ' + view:ratios[ratio]) : ''}}" {{containerAttrs}}>
    
    <div class="{{ratio && ratio != 'preserve' ? 'absolute ' : ''}}w-full h-full">
        {{ asset :url="image" }}
            <img
            {{ if cover }}
                class="object-cover w-full h-full{{lazy ? ' lazy-img ' : ''}}{{ class }}"
                style="object-position: {{ focus | background_position }}"
            {{ else }}
                class="{{ class }}"
            {{ /if }}
            alt="{{ alt ensure_right='.' }}"
            {{ if lazy }}
                loading="lazy"
                data-src="{{glide:url preset='lg'}}"
                data-scroll
                data-scroll-call="lazyLoad, Scroll, main"
                {{else}}
                    src="{{glide:url preset='lg'}}"
            {{ /if }}
            {{attrs}}
        >
        {{/asset}}
    </div>
    
    
</figure>
{{ if image.image_credit }}
<div class="text-left text-gray-400 mt-3 text-sm">Photo by {{ image.image_credit }}</div>
{{/if}}

{{ /if }}