---
ratios:
    preserve: ''
    portrait: " ratio-4:5"
    insta_story: " ratio-9:16"
    landscape: " ratio-5:4"
    square: " ratio-1:1"
    video: " ratio-16:9"
    ultrawide: " ratio-9:21"
    fill: " ratio-fill"
    screen: " ratio-screen"
rounded: "rounded-md overflow-hidden"
---
{{ if image }}
<figure class="rounded-md overflow-hidden">
    <div class="relative{{!crop || crop == "preserve" ? ' ': view:ratios[crop]}}"
        {{ if (!crop || crop == 'preserve')}}
            style="padding-top: {{(height / width) * 100}}%;"
        {{/if}}
    >
        <img class="absolute w-full h-full top-0 left-0 object-cover" 
        {{ if lazy }}
            data-src="{{url}}" data-scroll data-scroll-call="lazyLoad, Scroll, main"
            {{ else }}
            src="{{url}}" 
            onload="this.classList.add('is-loaded')"
        {{ /if}}
        />
        <div class="img-loader | absolute w-full h-full top-0 left-0 bg-primary-900 transition-opacity ease-smooth duration-1000"></div>
    </div>
</figure>
{{/if}}
