---
ratios:
    preserve: ''
    portrait: " ratio-4:5"
    insta_story: " ratio-9:16"
    landscape: " ratio-5:4"
    square: " ratio-1:1"
    video: " ratio-16:9"
    ultrawide: " ratio-9:21"
    fill: " ratio-fill"
    screen: " ratio-screen"
rounded: "rounded-md overflow-hidden"
---

{{ scope:imgScope }}
<figure>
    <div class="relative{{view:ratios[ratio]}}">
    <img
        class="object-cover {{imgScope:ratio && imgScope:ratio !== 'preserve' ? 'absolute left-0 top-0 ' : ''}}{{!noRounded ?= "rounded-md "}}w-full h-full object-cover w-full h-full {{ class }}"
        src="{{image.url || url}}"
        data-src="{{image.url || url}}"
    />
    </div>
    {{ if credit && image.image_credit }}
        <figcaption class="mt-2 text-xs sm:text-sm text-gray-400 text-right on-ready:fade-down">Photo by {{image.image_credit}}</figcaption>
    {{ /if }}
</figure>
{{ /scope:imgScope  }}
