---
ratios:
    preserve: ''
    portrait: "ratio-4:5"
    landscape: "ratio-5:4"
    square: "ratio-1:1"
    video: "ratio-16:9"
    ultrawide: "ratio-21:9"
    fill: "ratio-fill"
---

<figure class="relative rounded-md overflow-hidden {{ rounded ? "rounded-md" : '' }}{{ ratio ? view:ratios[ratio] : view:ratios.preserve }} {{ class }}">
    <div class="{{ratio && ratio != 'fill' && ratio != 'preserve' ? 'absolute' : ''}} w-full h-full top-0 left-0">
        {{ if media }}
            {{ media }}
            {{ if is_image }}
                {{ partial:components.picture :image="media"}}
            {{/if}}
            {{ if is_video }}
                {{ partial:components.video :video="media" {{ options }}}}
            {{/if}}
            {{ /media }}
        {{/if}}

    </div>
{{ if image_credit}} 
    <figcaption>{{image_credit}}</figcaption>
{{/if}}

</figure>