---
ratios:
    preserve: ''
    portrait: "ratio-4:5"
    landscape: "ratio-4:5"
    square: "ratio-1:1"
    video: "ratio-16:9"
    ultrawide: "ratio-21:9"
    fill: "ratio-fill"
---

<figure class="relative overflow-hidden {{ ratio ? view:ratios[ratio] : view:ratios.preserve }} {{ class }}">
    <div class="{{ratio && ratio != 'fill' ? 'absolute' : ''}} w-full h-full top-0 left-0">
        {{ media }}
            {{ if is_image }}
                {{ partial:components.picture :image="media" }}
            {{/if}}
            {{ if is_video }}
                {{ partial:components.video :video="media" {{ options }} }}
            {{/if}}
        {{ /media }}
    </div>
{{ if caption}} 
    <figcaption>{{caption}}</figcaption>
{{/if}}

</figure>