---
base_path: 'assets/svg/strokes/frame-stroke-'
---

<div class="frame | absolute left-0 top-0 w-full h-full{{onload ? " onload" : ''}}">
    <div class="frame__inner | relative h-full">
        {{ svg src="{{view:base_path}}left.svg"   class="frame__stroke" }}
        {{ svg src="{{view:base_path}}top.svg"    class="frame__stroke" }}
        {{ svg src="{{view:base_path}}right.svg"  class="frame__stroke" }}
        {{ svg src="{{view:base_path}}bottom.svg" class="frame__stroke" }}
    </div>
</div>

