---
sizes:
    h1: 'xl:text-6xl lg:text-5xl md:text-4xl text-3xl font-bold'
    h2: 'lg:text-5xl md:text-4xl text-3xl font-bold'
    h3: 'md:text-4xl text-3xl font-bold'
    h4: 'md:text-3xl text-2xl font-bold'
    h5: 'md:text-2xl text-xl font-semibold'
    h6: 'md:text-xl text-lg font-bold'
types:
    gray: 'text-gray-900'
    light-gray: 'text-gray-100'
    white: 'text-white'
---

<{{ el or size or 'p' }} class="{{ size ? view:sizes[size] : view:sizes['h2'] }} {{ color ? view:types[color] : view:types['gray'] }} {{ class }}" data-module-split="{{ split-module }}" data-split-type="chars">
{{ label }}
{{ if underline }}
{{ svg src="assets/images/decorative/strokes/stroke-underline.svg" class="heading-underline | fill-primary-900" }}
{{ /if}}
</{{ el or size or 'p' }}>
