---
sizes:
    h1: 'xl:text-8xl md:text-6xl sm:text-5xl text-4xl font-bold'
    h2: 'lg:text-5xl md:text-4xl text-3xl font-bold'
    h3: 'md:text-4xl text-3xl font-bold'
    h4: 'md:text-3xl text-2xl font-bold'
    h5: 'md:text-2xl text-xl font-semibold'
    h6: 'md:text-xl text-lg font-bold'
types:
    gray: 'text-gray-900'
    light-gray: 'text-gray-100'
    white: 'text-white'
split-attrs: data-module-split data-split-type="chars" 
---

<{{ el or size or 'p' }} class="{{ size ? view:sizes[size] : view:sizes['h2'] }} {{ class }}" {{ split-module ? view:split-attrs : "" }} {{ attrs }}>
{{ label }}
{{ if underline }}
{{ svg src="assets/images/decorative/strokes/stroke-underline.svg" class="heading-underline | fill-primary-900" }}
{{ /if}}
</{{ el or size or 'p' }}>
