---
classes:
    shared: "inline-block text-xl no-underline transition-all duration-300 ease-in-out lg:text-md lg:py-0 lg:px-0 hover-underline"
states:
    active:
        colors:
            dark: "is-active text-dark"
            light: "is-active text-light"
    inactive:
        colors:
            light: "text-light"
            dark: "text-neutral-500 hover:text-dark"
---

{{# {{ if current_uri === url}}{{ if color }}{{ view:states.active.colors[color]}}{{ else }}{{view:states.active.colors.dark }}{{ /if }}{{ else }}{{ if color }}{{ view:states.inactive.colors[color] }}{{ else }}{{ view:states.inactive.colors.dark }}{{ /if }}{{ /if }} #}}

{{ if toggle_button }}
<li class="py-2 lg:py-0">
    {{ partial:components.button link="{url}" color="{button_variant}"
    size="{button_size}" label="{title}" }}
</li>
{{ else }}
<li>
    <a
        class="{{ view:classes.shared }}"
        href="{{ url }}"
        {{ html_attributes }}
    >
        {{ title }}
    </a>
</li>
{{ /if }}
