 <a class="project-card | relative block" href="/projects/{{slug}}">
     <div class="project-card__inner | relative rounded-lg overflow-hidden h-auto max-h-[600px]">
        {{image}}
         {{ partial:components.picture cover="true" crop='{{crop || "preserve"}}' class="{{is_grayscale ?= 'grayscale'}}" }}
         {{/image}}
          <div class="project-card__info | p-4 absolute top-0 left-0 w-full h-full flex flex-col justify-between">
            {{ if title }}
               
                    <div class="project-card__info__title">{{ title }}</div>
               
            {{ /if }}
            {{ if client }}
                {{client}}
                    <div class="project-card__info__client | text-right">{{ title }}</div>
                {{/client}}               
            {{ /if }}
    </div>
     </div>
     {{if frame}}
     {{ partial:components.frame }}
     {{/if}}
</a>
