<div
    class="share-widget | fixed right-0 bottom-10 bg-light text-dark z-50 rounded-l-3xl"
    style="--num-items: 4"
    data-module-share-widget
>
    <div class="share-widget__inner | relative w-full h-full">
        <ul class="flex">
            <li class="share-widget__link | rounded-l-3xl">
                {{ svg src="assets/svg/icons/share.svg" class="w-full h-full" }}
            </li>
            <li class="share-widget__link | rounded-l-3xl">
                <a data-share-type="facebook" href>
                    {{ svg src="assets/svg/icons/facebook.svg" class="w-full
                    h-full" }}
                </a>
            </li>
            <li class="share-widget__link">
                <a data-share-type="twitter" href>
                    {{ svg src="assets/svg/icons/twitter.svg" class="w-full
                    h-full" }}
                </a>
            </li>
            <li class="share-widget__link">
                <a data-share-type="linkedin" href>
                    {{ svg src="assets/svg/icons/linkedin.svg" class="w-full
                    h-full" }}
                </a>
            </li>
        </ul>
    </div>
</div>
