---
ratios:
    preserve: 'ratio-preserve'
    portrait: "ratio-4:5"
    landscape: "ratio-5:4"
    square: "ratio-1:1"
    video: "ratio-16:9"
    ultrawide: "ratio-21:9"
    fill: "ratio-fill"
---


<div
    class="relative overflow-hidden {{ratio ? view:ratios[ratio] : view:ratios['video']}} rounded-md"
    
>
    <video
        data-module-video-player="{{id}}"
        data-video-player-ctx="native"
        data-video-player-options="{{ ratio == 'preserve' ? "calculateHeight" : ''}}"
        data-scroll
        data-scroll-call="triggerPlayer, VideoPlayer, {{id}}"
        data-scroll-offset="-90%"
        data-src="{{ video_file }}"
        data-raw-src="{{ video_file }}"
        {{ controls ?= "controls" }}
        playsinline
        muted
        loop
        class="absolute inset-0 w-full h-full border-0"
    ></video>

    {{ if !autoplay}}
    <button type="button" class="play-btn | absolute-center focus:outline-none text-light uppercase text-3xl z-10" data-lightbox-action="open" data-lightbox-id="{{id}}" data-lightbox-context="single-video">
        <div class="bg-dark w-full h-full py-2 px-6 flex items-center" style="border-radius: 2rem;"><span>Play</span> {{svg src="/assets/svg/icons/play.svg" class="[&>*]:fill-light w-5 h-5 mb-1 ml-2 pb-px"}}</div>
    </button>
    {{/if}}
</div>
