<!DOCTYPE html>
<html lang="en" class="is-loading">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {{# Favicon #}} {{ partial:partials/favicons }} {{# SEO Meta Tags #}}
        {{ seo_pro:meta }}
        {{ vite
        src="resources/css/tailwind.css|resources/js/site.js" }} {{ vite
        src="resources/assets/sass/index.scss" }}
    </head>

    <body
        class="flex flex-col justify-between min-h-screen font-sans antialiased bg-light {{ environment === 'local' ?= 'debug-screens' }}"
        aria-live="polite"
        data-module-barba
        data-barba="wrapper"
    >
        {{# Navigation Partials #}}
        {{ partial:layout/navigation }}
        
        {{# Intro Partials #}}
        {{ partial:layout/site_intro }}
        

        {{# Transition Card #}}
        {{ partial:layout/transition_card }}


        {{# Lightbox #}}
        {{ partial:components/lightbox }}
        

        
        <!-- Content -->
        <main class="header-offset footer-offset bg-light z-[2]" data-barba="container">
            <span data-module-scroll="main" data-scroll-container>
                {{ template_content }}
            </span>
        </main>
        {{ partial:layout.footer }}
        
    </body>
</html>
