.ratio-4\/5 {
    display: block;
    padding-bottom: calc(4 / 5 * 100%);
    content: "";
    width: 100%;
}

.ratio-5\/4 {
    display: block;
    padding-bottom: calc(5 / 4 * 100%);
    content: "";
    width: 100%;
}