main {
    pointer-events: none;

    * {
        pointer-events: all;
    }

    .block-section:last-of-type {
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: $footer-rounded-edge-height;
            bottom: -1.9rem;
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            z-index: 2;
            background-color: var(--bg-color);
        }

        
    }
}
