<div class="insta-post | max-w-sm md:max-w-md border border-gray-300 rounded-md mx-auto bg-white">

    <div class="w-full flex items-center py-3 px-4 border-b border-b-gray-400">
        <div class="w-10 h-10 rounded-full border border-gray-300" style="background-image: url({{avatar}}); background-size: cover; background-position: center;"></div>
        <a class="text-xl ml-4" href="{{link}}" target="_blank" rel="noreferrer noopener">{{ '@' + handle }}</a>
        {{if verified}}
        <img src="/assets/images/icons/insta-verified.png" class="w-4 h-4 ml-2" />
        {{/if}}
    </div>

    {{ media }}

        {{if type == "image" }}
            {{image}}
            {{partial:components.picture cover="true" crop="preserve" :image="image" lazy="true" attrs="data-scroll-offset='-20%'"}}
            {{/image}}
            {{elseif type == "video" }}
                {{ partial:components.video ratio='preserve' autoplay="true" controls="true" }}
            {{else }}
                {{partial:sets/slideshow/. slidesPerView="1" slideRatio='preserve'}}
        {{/if}}

        {{ if video }}
            {{ partial:components.video }}
        {{/if}}
        

        


    {{ /media }}
    <div class="w-full border-t border-t-gray-400 px-4 py-3" data-module-collapsable>
        <div class="overflow-hidden max-h-12 w-full" data-collapsable-item>
            <p class="text-sm" style="margin-top: 0px;"><span class="font-bold inline-block mr-2">{{'@' + handle}}</span><span>{{ caption | substr(0, 150)}}</span> <span>{{ caption | substr(150, length)}}</span></spam></p>
        </div>
        <button class="block ml-auto font-bold mt-4 text-gray-400 hover:text-dark transition-color ease-smooth duration-300" data-collapsable-button>Read more</button>
    
    </div>
</div>
