<div class="insta-post | max-w-lg border border-gray-400 rounded-md mx-auto bg-white">
    <div class="w-full flex items-center py-3 px-4 border-b border-b-gray-400">
        <div class="w-10 h-10 rounded-full ml-3.5" style="background-image: url({{avatar}}); background-size: cover; background-position: center;"></div>
        <div class="text-xl">{{ '@' + handle }}</div>
        {{if verified}}
        <img src="assets/images/icons/insta-verified.png" class="w-4 h-4 ml-3.5" />
        {{/if}}
    </div>
    {{media}}
    {{if image | image}}
        {{partial:components.picture cover="true" ratio="preserve" :image="image" lazy="true"}}
    {{/if}}
    
    {{/media}}
</div>
