.animated-face-svg {
    width: 200px;
    height: 200px;
    transform: translateX(-10%);
}

body .animated-face-svg:not(.global-footer .animated-face-svg) {
    .face {
        @apply fill-dark #{!important};
    }

    .eye,
    .wave {
        @apply fill-primary-900 #{!important};
    }
}

.global-footer .animated-face-svg {
    .face {
        @apply fill-light #{!important};
    }

    .eye,
    .wave {
        @apply fill-primary-900 #{!important};
    }
}
