html:not(html.has-scroll-smooth) {
    .global-footer {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    main {
        margin-bottom: $footer-height-mobile;

        @screen #{$footer-breakpoint} {
            margin-bottom: $footer-height-desktop;
        }
    }
}

.global-footer {

    height: $footer-height-mobile;

    @screen #{$footer-breakpoint} {
        height: $footer-height-desktop;


        .animated-face-svg {
            transform: translateX(14%)
        }
    }

    &[data-theme="light"] {
        @include theme-light;
    }

    &[data-theme="dark"] {
        @include theme-dark;
    }
}
