


@mixin grid-custom-item-margin-x {
    margin-left: calc(var(--gutter) / 2);
    margin-right: calc(var(--gutter) / 2);
}

@mixin grid-custom-item-width($ratio) {
    width: calc(99.99% * $ratio - var(--gutter));
}

.grid {

    &-sizer {
        display: block;
        overflow: hidden;
        position: relative;
        background: #efefef;
        float: left;
        width: calc(99.99% * var(--max-cols) - var(--gutter));
        margin-left: calc(var(--gutter) / 2);
        margin-right: calc(var(--gutter) / 2);
    }

    @screen md {
        & {
            margin-left: -calc(var(--gutter) / 2);
            margin-right: -calc(var(--gutter) / 2);
        }
    }


    &-item {
        width: 100%;
        margin-bottom: var(--gutter);

        &__plus {
            font-size: 2em;
            line-height: 1em;
        }
    }

    &.grid-masonry {
        @screen sm {
            .grid-item {
                width: calc(99.99% * var(--cols-sm) - var(--gutter));
                @include grid-custom-item-margin-x;
            }
        }
        @screen md {
            .grid-item {
                width: calc(99.99% * var(--cols-md) - var(--gutter));
            }
        }
    
        @screen lg {
            .grid-item {
                width: calc(99.99% * var(--cols-lg) - var(--gutter));
            }
        }
    }

    &.grid-custom {


      
        @screen md {

            .grid-item.s-1\/3 {
                @include grid-custom-item-width(1/3);
                @include grid-custom-item-margin-x;
            }

            .grid-item.s-1\/2 {
                @include grid-custom-item-width(1/2);
                @include grid-custom-item-margin-x;
            }

            .grid-item.s-1\/1 {
                @include grid-custom-item-width(1/1);
                @include grid-custom-item-margin-x;
            }
        }
    
     
    }
}
