.hero-broken {
    > * {
        height: 100%;
    }

    .words {
        font-size: 2rem;
    }

    .animated-face-svg {
        width: 200px;
        height: 200px;
        transform: translateX(-10%);
        margin-bottom: 4rem;
    }


    @screen sm {
        height: 65vh;

        .words{
            font-size: 3.5rem;
            line-height: 4.5rem;
        }

        .animated-face-svg {
            width: 190px;
            height: 190px;
        }
    }

    @screen md {
        height: 70vh;

        .words {
            font-size: 4rem;
            line-height: 5rem;
        }

        .animated-face-svg {
            width: 210px;
            height: 210px;
        }
    }

    @screen lg {
        height: calc($vh - $header-height);

        .words {
            font-size: 6rem;
            line-height: 7rem;
        }

        .animated-face-svg {
            width: 255px;
            height: 255px;
        }
    }
}

.hero {

    $circle-radius-md: 4.3rem;
    $circle-radius: 3.6rem;

    .circle-feature {
        position: relative;

        $circle: &;

        &::after {
            content: '';
            position: absolute;
            top: calc($circle-radius / -2.2);
            right: calc($circle-radius / -2.2);
            width: $circle-radius;
            height: $circle-radius;
            border-radius: 50%;
            @apply bg-primary-900;
            mix-blend-mode: multiply;
            transform: scale(0);
            transition: transform 1.1s $ease-power3-in-out;
        }

    }


    @screen md {
        .circle-feature::after {
            width: $circle-radius-md;
            height: $circle-radius-md;
            top: calc($circle-radius-md / -2.2);
            right: calc($circle-radius-md / -2.2);
        }
    }
}

html.is-ready .hero .circle-feature::after {
    transform: scale(1);
}
