.project-card {
    $item: &;

    &:hover {
        #{$item}__inner::after {
            opacity: 0.44;
        }

        #{$item}__info > * {
            transform: none;
            opacity: 1;
        }

        .frame {
            &,
            &__stroke {
                transform: none !important;
            }
        }
    }

    &__inner {
        overflow: hidden;

        &::after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content: "";
            @apply bg-dark;
            z-index: 1;
            opacity: 0.44;
            transition: opacity 0.6s $ease-smooth;
        }
    }

    &__info > * {
        transition: transform 0.6s $ease-smooth, opacity 0.6s $ease-smooth;
        z-index: 2;
        @apply text-light #{!important};
    }

    @screen sm {
        #{$item}__info > * {
            transform: translateY(100%);
            opacity: 0;
        }

        #{$item}__inner::after {
            opacity: 0;
        }
    }

    .frame {
        $stroke-offset: -4px;
        $stroke-delay: 0.12;

        pointer-events: none;
        z-index: 3;
        transition: transform 1.7s $ease-power3-out;
        transform: rotate(-15deg) scale(0.7);

        &__stroke {
            transition: transform 1s $ease-power3-out;
            position: absolute;
        }

        &__stroke[data-frame-location="top"],
        &__stroke[data-frame-location="bottom"] {
            transform: scaleX(0);
        }

        &__stroke[data-frame-location="left"],
        &__stroke[data-frame-location="right"] {
            transform: scaleY(0);
        }

        &__stroke[data-frame-location="top"] {
            width: 100%;
            left: 0;
            top: $stroke-offset;
            @apply fill-green-700;
        }

        &__stroke[data-frame-location="right"] {
            right: $stroke-offset;
            height: 100%;
            transition-delay: #{$stroke-delay * 2}s;
            @apply fill-blue-800;
        }

        &__stroke[data-frame-location="bottom"] {
            bottom: $stroke-offset;
            width: 100%;
            transition-delay: #{$stroke-delay * 3}s;
            @apply fill-red-600;
        }

        &__stroke[data-frame-location="left"] {
            left: 0;
            height: 100%;
            transition-delay: #{$stroke-delay * 4}s;
            @apply fill-primary-900;
        }
    }
}

