.project-grid {
    $gap: 1rem;

    &__col {
        &:not(:last-child) {
            margin-right: $gap;
        }

        > * {
            display: block;
            margin-bottom: $gap;
        }
    }
}
