<div
    class="relative container py-32 overflow-hidden flex flex-col md:flex-row items-center justify-between"
>
    <div class="flex-1 relative mx-auto text-center">
        {{ partial:components/heading size="h1" label="{title}"
        class="text-dark" }} {{ partial:components/heading size="h6"
        label="{client.title}" class="text-dark" }}
    </div>
    <div class="flex-1">
        <div class="w-3/4 max-w-sm ml-auto">
            <div class="image | ratio-5/4 relative">
                <div class="absolute top-0 left-0 w-full h-full">
                    {{ partial:components/picture :image="image" cover="true" }}
                </div>
            </div>
        </div>
    </div>
</div>
