---
sectionAttrs: 
    0: 'data-scroll data-scroll-call="heroHeaderUpdate, Header, main" data-scroll-repeat data-scroll-offset="95%"' 
noContainerBlocks:
    slideshow: true
    image: true
---


    {{ partial:layout/block-section noGutters="true"}}
        {{ partial:sets.hero.hero_section_7 }}
        {{/partial:layout/block-section }}
        {{ blocks }}
            {{partial:layout/block-section gutter="md" noGutters="{{inset === false}}" attrs="{{view:sectionAttrs[index]}}" noContainer="{view:noContainerBlocks[type] && !inset}" }}
                {{ partial src="sets/{type}/{version}" }}
            {{/partial:layout/block-section }}
        {{ /blocks }}
{{# 
    <div class="max-w-3xl mx-auto mt-8 overflow-hidden">
        {{ partial:posts/post_details }} {{ if tags }} {{ partial:posts/tags }}
        {{ /if }} {{ partial:posts/social_media_sharing }} {{ if author }} {{
        partial:posts/author }} {{ /if }}
    </div> #}}

    {{# {{partial:components/share-widget}} #}}

    {{ collection:next as="posts" limit="1" sort="date:desc" }}
        
        {{ if no_results }}
            {{ collection:posts as="posts" limit="1" sort="date:desc"}}
                {{ posts }}

                {{partial:layout/block-section block_theme="yellow" noGutters="true" noContainer="true" }}
                <a href="{{url}}" class="pt-10 md:pt-20 block relative overflow-hidden">
                <div class="flex justify-between items-center container">
                    {{svg src="assets/svg/arrow-simple.svg" class=" w-28 md:w-40 [&>*]:stroke-dark [&>*]:stroke-2 " }}
                    <div class="text-3xl md:text-4xl font-medium">Next</div>
                </div>
                
                <div class="pt-40 text-4xl whitespace-nowrap md:text-6xl font-bold">
                    {{partial:components.marquee}}
                            {{loop times="2"}}
                                {{partial:components.marquee-item}}
                                    <div>{{title}}</div>
                                    <div>{{client}} {{ title }}{{/client}}</div>
                                {{/partial:components.marquee-item}}
                            {{/loop}}
                    {{/partial:components.marquee}}
                </div>
                </a>
            {{/partial:layout/block-section}}
    

                {{ /posts }}
            {{/collection:posts }}
        {{ /if }}
        
        {{ posts }}
            {{partial:layout/block-section block_theme="yellow" noGutters="true" noContainer="true" }}
            <a href="{{url}}" class="pt-10 md:pt-20 block relative overflow-hidden">
            <div class="flex justify-between items-center container">
                {{svg src="assets/svg/arrow-simple.svg" class=" w-28 md:w-40 [&>*]:stroke-dark [&>*]:stroke-2 " }}
                <div class="text-3xl md:text-4xl font-medium">Next</div>
            </div>
            
            <div class="pt-40 text-4xl whitespace-nowrap md:text-6xl font-bold">
                {{partial:components.marquee}}
                        {{loop times="2"}}
                            {{partial:components.marquee-item}}
                                <div>{{title}}</div>
                                <div>{{client}} {{ title }}{{/client}}</div>
                            {{/partial:components.marquee-item}}
                        {{/loop}}
                {{/partial:components.marquee}}
            </div>
            </a>
        {{/partial:layout/block-section}}

        {{ /posts }}
 
    {{ /collection:next }}

    


    




