---
sectionAttrs: 
    0: 'data-scroll data-scroll-call="heroHeaderUpdate, Header, main" data-scroll-repeat data-scroll-offset="95%"' 
---


    {{ partial:layout/block-section noGutters="true"}}
        {{ partial:sets.hero.hero_section_7 }}
        {{/partial:layout/block-section }}
        {{ blocks }}
            {{partial:layout/block-section gutter="md" attrs="{{view:sectionAttrs[index]}}" }}
                {{ partial src="sets/{type}/{version}" }}
            {{/partial:layout/block-section }}
        {{ /blocks }}
{{# 
    <div class="max-w-3xl mx-auto mt-8 overflow-hidden">
        {{ partial:posts/post_details }} {{ if tags }} {{ partial:posts/tags }}
        {{ /if }} {{ partial:posts/social_media_sharing }} {{ if author }} {{
        partial:posts/author }} {{ /if }}
    </div> #}}
    {{ collection:next collection="posts" limit="1" sort="date:desc" }}
    {{partial:layout/block-section block_theme="yellow" noGutters="true" noContainer="true"}}
        <a href="{{url}}" class="pt-10 md:pt-20 block relative">
        <div class="flex justify-between items-center container">
            {{svg src="assets/svg/arrow-simple.svg" class=" w-28 md:w-40 [&>*]:stroke-dark [&>*]:stroke-2 " }}
            <div class="text-3xl md:text-4xl font-medium">Next</div>
        </div>

         {{# {{ paginate }}
                {{ if prev_page or next_page }}
                    <div class="py-10 mx-auto md:py-16">
                        {{ partial:partials._pagination }}
                    </div>
                {{ /if }}
            {{ /paginate }} #}}
        
        <div class="pt-40 text-4xl whitespace-nowrap md:text-6xl font-bold">
            {{partial:components.marquee}}
                    {{loop times="2"}}
                        {{partial:components.marquee-item}}
                            <div>{{title}}</div>
                            <div>{{client}} {{ title }}{{/client}}</div>
                        {{/partial:components.marquee-item}}
                    {{/loop}}
            {{/partial:components.marquee}}
        </div>
        </a>
    {{/partial:layout/block-section}}
    {{ /collection:next in="posts" as="posts" limit="1"  }}

