<div class="image-gallery">
    {{scope:layout}}
{{ partial:layout.grid layout="masonry" scope="hello" :id="layout.id"}}
        {{ images }}
            {{ partial:layout.grid-item attrs="style='--ratio: {{ratio}}'"}}
            {{ asset url="{{images[index]}}" }}
                {{ partial:components.picture  crop="preserve" lazy="true" attrs="data-load-call='reloadLayout, Grid, {layout:id}'" }}
            {{/asset}}
            {{ /partial:layout.grid-item }}
        {{ /images }}
{{ /partial:layout.grid }}
{{/scope:layout }}
</div>
