---
sizes: 
        one_column: 's-1/1'
        two_columns: 's-1/2'
        three_columns: 's-1/3'
---

{{ partial:layout.grid layout="custom" }}
        {{grid_builder}}
                {{row_layout}}
                        {{images}}
                                {{ partial:layout.grid-item class=" {{view:sizes[type]}}" attrs="data-lightbox-action='open' data-lightbox-context='carousel' data-img-src='{{url}}'" plus="true" }}
                                        {{partial:components.picture :image="url" :alt="alt" ratio="{{row_aspect_ratio}}" lazy="true" cover="true"}}
                                {{/partial:layout.grid-item}}
                        {{/images}}
                {{/row_layout}}
        {{/grid_builder}}
{{ /partial:layout.grid }}
