.lightbox {
    $lightbox: &;

    &__bg {
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.8s $ease-power3-out;
    }

    &__close-btn {
        opacity: 0;
        transition: opacity 300ms ease 0.2s;
    }

    iframe, video, embed {
        opacity: 0;
        transition: opacity 300ms ease;
    }

    &.is-open {
        #{$lightbox}__bg {
            transform: scaleY(1);
        }

        iframe,video,embed, #{$lightbox}__close-btn {
            opacity: 1;
            transition-delay: 0.3s
        }
    }
}
