<div class="mobile-menu | h-screen z-40 {{mobile_menu:breakpoint }}:hidden w-auto {{ var:menu_classes }}" aria-expanded="false" data-header="menu">
    <div class="mobile-menu__inner | w-full h-full header-offset"  data-theme="dark">
        <div class="container h-full">
            <div class="relative h-full flex items-center justify-center">
                <ul class="mobile-menu__nav | flex flex-col items-center justify-center w-full px-3 lg:px-0 lg:py-0 lg:space-x-8">
                    {{ nav:navigation include_home="true" }} {{ partial:components.menu_item
                    color="light" }} {{ /nav:navigation }}
                </ul>
                <div
                    class="mobile-menu__brand-line | absolute left-0 bottom-0 mb-5">
                    {{ info:brand_line }}
                </div>
                <div class="mobile-menu__socials | absolute right-0 bottom-0 mb-5">{{ partial:layout/footer-items/social_media align="right" size="md"}}</div>
            </div>
        </div>
    </div>
</div>
