<div class="container py-16 md:py-20">
    {{ if title }}
        <div class="max-w-3xl mb-12 mx-auto">
            {{ partial:components.heading label="{title}" size="h3" class="text-center" }}
        </div>
    {{ /if }}
    {{ partial:components.carousel :slidesPerView="items_per_view"}}
            {{ collection:posts limit="{max_items}" }}
                {{ partial:components.carousel_item }}
                    {{ partial:components.project_card has_link="true" link="/posts/{slug}" frame="false" ratio="portrait" }}
                {{ /partial:components.carousel_item }}
            {{ /collection:posts}}

        
    {{ /partial:components.carousel}}
    <div class="w-full flex justify-center">
        {{ partial:components.button link="/posts" label="Browse our work" class="mx-auto mt-20 uppercase" radius="pill" size="lg" }}
    </div>
</div>
