@font-face {
    font-family: "Walsheim";
    src: url("/fonts/Walsheim-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Walsheim";
    src: url("/fonts/Walsheim-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Walsheim";
    src: url("/fonts/Walsheim-Bold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Walsheim";
    src: url("/fonts/Walsheim-UltraBold.woff") format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "Walsheim";
    src: url("/fonts/Walsheim-Black.woff") format("woff");
    font-weight: 900;
}