@font-face {
    font-family: "Walsheim";
    src: url("/public/fonts/Walsheim-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Walsheim";
    src: url("/public/fonts/Walsheim-Medium.woff") format("woff");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Walsheim";
    src: url("/public/fonts/Walsheim-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Walsheim";
    src: url("/public/fonts/Walsheim-UltraBold.woff") format("woff");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Walsheim";
    src: url("/public/fonts/Walsheim-Black.woff") format("woff");
    font-weight: 900;
    font-display: swap;
}