<div class="max-w-5xl py-8 mx-auto">
    <div class="relative overflow-hidden ratio-16:9 rounded-md">
        {{ if embedded_video | is_embeddable }}
            <iframe data-module-vimeo-player="{{id}}" data-scroll data-scroll-call="triggerPlayer, VimeoPlayer, {{id}}" data-src="{{ embedded_video | embed_url }}&controls=false&transparency=false&autopause=false&loop=1&muted=1" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen allow="autoplay; encrypted-media"
                class="absolute inset-0 w-full h-full border-0"></iframe>
        {{ /if }}
        <button type="button" class="play-btn | absolute-center focus:outline-none text-light uppercase text-3xl z-10" data-video-toggler data-video-toggler-id="{{id}}">
            <div class="bg-dark w-full h-full py-2 px-6 flex items-center" style="border-radius: 2rem;"><span>Play</span> {{svg src="/assets/svg/icons/play.svg" class="[&>*]:fill-light w-5 h-5 mb-1 ml-2 pb-px"}}</div>
        </button>
    </div>
</div>
