{{ if inset }} 
    <div class="container">
        {{ partial:components.carousel :slidesPerView="slides_per_view" :autoplay="autoplay" }}
            {{ slideshow_images}}
                {{ partial:components.carousel_item }}  
                    {{ partial:components.picture
                        crop="{{slide_ratio || 'video'}}"
                        :image="url" cover="true"
                        lazy="true"
                        attrs="data-scroll-offset='15%'"  }}
                {{ /partial:components.carousel_item}}  
            {{ /slideshow_images}}
        {{ /partial:components.carousel }}
    </div>
    {{else}}
    {{ partial:components.carousel :slidesPerView="slides_per_view" :autoplay="autoplay" }}
            {{ slideshow_images}}
                {{ partial:components.carousel_item }}  
                    {{ partial:components.picture
                        noRounded="true"
                        :crop="slide_ratio || 'video'"
                        glide_preset="lg"
                        :image="url"
                        lazy="true"
                        attrs="data-scroll-offset='15%'"
                    }}
                {{ /partial:components.carousel_item}}  
            {{ /slideshow_images}}
    {{ /partial:components.carousel }}
{{/if}}