<div class="hero hero-broken">
    <div class="relative py-20 mx-auto container md:max-w-5xl">
        {{ partial:components.heading label="{broken_heading.word_1 + " " + broken_heading.word_2 + " " + broken_heading.word_3}" size="h1" class="hidden"}}
        <div
            class="words | pt-72 sm:pt-0 font-bold tracking-tight w-full h-full flex sm:flex-col justify-center sm:justify-between"
        >
            <div class="word | pr-2 sm:pr-0" data-module-split data-split-type="chars">{{broken_heading.word_1}}</div>
            <div class="word | pr-2 sm:pr-0 | self-end" data-module-split data-split-type="chars">
                {{broken_heading.word_2}}
            </div>
            <div class="word" data-module-split data-split-type="chars">{{broken_heading.word_3}}</div>
        </div>

        <div class="hero-graphic | absolute-center object-fit">
            {{if hero_image.extension !== 'svg'}} {{ partial:components/picture
            :image="hero_image" class="mx-auto" sizes="(min-width: 200px) 200px,
            90vw" }} {{ else }} {{ svg :src="hero_image"
            :class="hero_image.classes" }} {{ /if}}
        </div>
    </div>
</div>
