<div class="hero project-hero | relative w-full pt-10 md:pt-10">
        <div
            class="flex flex-col items-center space-y-10 md:space-y-0 text-center md:text-left"
        >
            <div
                class="relative md:w-1/2"
            >
                    {{ partial:components.heading
                        label="{title}"
                        el="h1"
                        class="text-center hidden"
                    }}
                    <div class="md:text-4xl text-3xl max-w-lg mx-auto md:max-w-none font-bold text-center" data-module-split data-split-type="lines,chars">{{title}}</div>
                {{ client }}
                    
                        {{ partial:components.heading
                            label="{title}"
                            el="div"
                            size="h5"
                            weight="medium"
                            class="on-ready:fade-down delay-1000 text-center mt-3 md:mb-10"
                        }}
                {{ /client }}
               
                {{ if toggle and label }} {{ partial:components.button
                size="{button_size}" color="{button_variant}" }} {{ /if }}
            </div>

            <div class="w-full md:w-1/2 max-w-709">
                <div class="circle-feature | w-1/2 mx-auto lg:w-2/5 md:ml-auto lg:mx-auto">
                    {{ partial:components.picture ratio="portrait" credit="true" cover="true" creditClass="on-ready:fade-down"
                    sizes="(min-width: 200px) 35vw, 90vw" }}
                </div>
            </div>
        </div>
</div>
