<div class="bg-light">
    <div class="relative py-20 mx-auto container md:max-w-4xl">
        {{ partial:components.heading label="{broken_heading.word_1 + " " + broken_heading.word_2 + " " + broken_heading.word_3}" size="h1" class="hidden" }}
        <div class="words | pt-72 sm:pt-0 text-3xl sm:text-5xl md:text-6xl lg:text-8xl font-bold tracking-tight w-full h-full flex sm:flex-col justify-center sm:justify-between">
            <div class="word | pr-1 sm:pr-0">
                {{broken_heading.word_1}}
            </div>
            <div class="word | pr-1 sm:pr-0 | self-end">
                {{broken_heading.word_2}}
            </div>
            <div class="word">
                {{broken_heading.word_3}}
            </div>
        </div>

        <div class="absolute-center object-fit">
            {{
                partial:components/picture
                :image="hero_image"
                class="mx-auto"
                sizes="(min-width: 200px) 200px, 90vw"
            }}
        </div>
    </div>
</div>