---
overlay:
    colors:
        dark: 'bg-black'
        light: 'bg-white'
---

<div class="hero | no-header-offset relative bg-gray-200 h-screen">
    <div
        class="flex flex-wrap w-full h-full items-center justify-center z-10 sticky"
    >
        {{ partial:components.heading size="h1" label="{{title}}"
        class="uppercase font-black text-center max-w-6xl"
        attrs="data-module-split data-split-type='chars'"}} {{#
        <div class="order-none w-full md:w-1/2 md:px-4 md:order-first z-10">
            <div class="mb-8 text-center md:text-left">
                {{ partial:components.heading label="{title}" size="h1" }} {{ if
                has_description }} {{ partial:components.lead
                label="{description}" size="lg" class="mt-8" }} {{ /if }}
            </div>
            {{ if toggle and label }}
            <div class="flex justify-center md:justify-start">
                {{ partial:components.button size="{button_size}"
                color="{button_variant}" }}
            </div>
            {{ /if }}
        </div>
        #}}
    </div>
    <div class="absolute w-full h-full top-0 left-0">
        {{ partial:components.figure :media="background_video" ratio="fill"
        options="autoplay playsinline loop muted"}}
        {{ background_overlay }}
            <div class="absolute w-full h-full top-0 left-0 {{view:overlay.colors[color]}}" style="opacity: {{opacity}}%"></div>
        {{/background_overlay}}
    </div>
</div>
