<div class="hero project-hero | relative w-full pt-10 md:pt-20">
        <div
            class="flex flex-col items-center space-y-8 text-center md:space-y-0 md:flex-row md:text-left"
        >
            <div
                class="relative md:w-1/2 md:mt-0 md:mb-0 mb-8"
            >
                    {{ partial:components.heading
                        label="{title}"
                        el="h1"
                        class="text-center hidden"
                    }}
                    {{ partial:components.heading
                        label="{title}"
                        el="div"
                        size="h2"
                        class="text-center"
                        attrs="data-module-split data-split-type='lines, chars'"
                    }}
                {{ client }}
                    
                        {{ partial:components.heading
                            label="{title}"
                            el="div"
                            size="h5"
                            weight="medium"
                            class="on-ready:fade-down delay-1000 text-center mt-3"
                        }}
                {{ /client }}
               
                {{ if toggle and label }} {{ partial:components.button
                size="{button_size}" color="{button_variant}" }} {{ /if }}
            </div>

            <div class="w-full md:w-1/2 max-w-709">
                <div class="circle-feature | w-1/2 mx-auto md:1/2 md:ml-auto lg:mx-auto">
                    {{ partial:components.picture ratio="portrait" credit="true" cover="true" creditClass="on-ready:fade-down"
                    sizes="(min-width: 200px) 35vw, 90vw" }}
                </div>
            </div>
        </div>
</div>
