<div class="hero hero-underlineHeading | overflow-hidden bg-light">
    <div class="container md:pt-24 pt-14">
        <div class="flex flex-col items-center mb-5 md:mb-20">
            
            {{ partial:components.underline_heading label="{title}" size="h1" attrs="data-module-split data-split-type='lines, chars'"" }}

            {{ if description }}
            <p class="mt-5 text-center max-w-xl"> {{ description }} </p>
            {{ /if}}
            {{ if toggle and label }}
                <div class="mt-8">
                    {{ partial:components.button size="{button_size}" color="{button_variant}" }}
                </div>
            {{ /if }}
        </div>
    </div>
</div>
