{{ if title }}
    <div class="mx-auto mb-14 text-center md:max-w-3xl">
        {{ partial:components.heading label="{title}" size="h2" }}
            
        {{ if description }}
            {{ partial:components.lead label="{description}" size="lg" class="mt-2" }}
        {{ /if }}
    </div>
{{ /if }}
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 lg:gap-16">
        {{ features }}
            <{{ has_link ? 'a' : 'div' }} class="flex flex-col justify-center items-center text-center border-gray-300 border rounded-lg py-8 px-6 transition-shadow duration-300 hover:shadow-xl" {{ has_link ? "href={{link}}" : ''}} {{has_link ? "target={{target_blank ? '_blank' : '_self'}}" : ''}}>
                {{ if image }}
                    <div class="w-8 h-8 mx-auto mb-6 overflow-hidden">
                        {{
                            partial:components/picture
                            :image="image"
                            cover="true"
                            sizes="(min-width: 200px) 35vw, 90vw"
                        }}
                    </div>
                {{ /if }}

                {{ partial:components.heading label="{title}" size="h5" class="uppercase hover-underline" }}

                {{ if description }}
                    <div class="mx-auto mt-2 md:max-w-sm text-gray-500">
                        {{ partial:components.lead label="{description}" }}
                    </div>
                {{ /if }}
            </{{has_link ? 'a' : 'div'}}>
        {{ /features }}
    </div>
