html.is-changing-views:not(html.is-ready) main.is-old {
    [data-module-split] {
        .char {
            transform: translateY(-100%);
        }
    }
}

html.is-ready {
    .hero {
        [data-module-split] {
            .char {
                transform: none;
            }

            .heading-underline {
                transition-delay: 1.5s !important;
            }
        }
    }
}

.is-inview[data-split-type="chars"] {
    .char {
        transform: none;
    }
}

[data-module-split] {
    overflow: hidden;
    .char {
        transition: transform 1.2s $ease-power3-in-out;
        transform: translateY(150%);

        @for $i from 1 through 50 {
            $delay: calc(0.03 * $i);

            &:nth-child(#{$i}) {
                transition-delay: #{$delay}s;
            }
        }
    }
}
