<div
    class="grid divide-y divide-white md:divide-y-0 md:divide-x md:grid-cols-{{stats | length}} divide-opacity-40"
>
    {{ stats }}
    <div class="px-5 py-5 text-center md:py-0">
        <p class="text-5xl font-extrabold">
            {{ number | explode(' ') }}
            {{ if value | is_numeric}}
            <span
                data-scroll
                data-scroll-call="launch, Shuffle, {{id}}"
                data-module-shuffle="{{id}}"
            >
                {{value}}
            </span>
                {{else }}
                <span>{{value}}</span>
            {{ /if }} {{ /number | explode(' ') }}
        </p>
        {{ if description }} {{ partial:components.lead label="{description}"
        size="lg" color="dark" class="uppercase"}} {{ /if }}
    </div>
    {{ /stats }}
</div>
