html.is-ready {


    div:not(div.image-gallery) img.lazy-img {
        transition: opacity 1.3s $ease-smooth;
        opacity: 0;

        &.is-inview.is-loaded {
            transform: scale(1);
            opacity: 1;
        }
    }

    img.is-loaded + .img-loader {
        opacity: 0;
    }
}