[data-module-split] {
    overflow: hidden;
    .char {
        transform: translateY(150%);

        @for $i from 1 through 20 {
            $delay: calc(0.03 * $i);

            &:nth-child(#{$i}) {
                transition: transform 2s $ease-power3-in-out #{$delay}s;
            }
        }
    }
}

html.is-ready {
    [data-module-split] {
        .char {
            transform: translateY(0);
        }

        .heading-underline {
            transition-delay: 1.5s !important;
        }
    }
}
