.global-header {

    $header: &;
    
    &[data-theme="yellow-2"] {

        --bg-color: theme('colors.dark');
        --fg-color: theme('colors.primary.900');
        
        @apply text-primary-900;
        @apply bg-dark;

        &#{$header}.is-hero-header {
            border-bottom: 1px solid;
            @apply border-primary-900;
            @apply bg-transparent;
        }

        svg {
            @apply fill-primary-900;
        }

        .toggle-button {
           &__circle {
            @apply bg-primary-900;
           }

           &::before, &::after {
            @apply bg-dark;
           }
        }

        a::after {
            @apply bg-primary-900;
        }
    }

    &[data-theme="light"] {
    
        --bg-color: theme('colors.light');
        --fg-color: theme('colors.dark');

        @apply text-dark;
        @apply bg-light;

        svg {
            @apply fill-dark;
        }

        .toggle-button {
           &__circle {
            @apply bg-dark;
           }

           &::before, &::after {
            @apply bg-light;
           }
        }

        a::after {
            @apply bg-dark;
        }
    }

    &[data-theme="dark"] {
    
        --bg-color: theme('colors.light');
        --fg-color: theme('colors.dark');

        @apply text-light;
        @apply bg-transparent;

        svg {
            @apply fill-light;
        }

        .toggle-button {
           &__circle {
            @apply bg-light;
           }

           &::before, &::after {
            @apply bg-dark #{!important};
           }
        }

        a::after {
            @apply bg-dark;
        }
    }

}