---
sectionAttrs: 
    1: 'data-scroll data-scroll-call="heroHeaderUpdate, Header, main" data-scroll-repeat data-scroll-offset="95%"' 
---

{{ if custom_page_header }}
    {{ partial src="sets/headers/{header_version}" }}
{{ /if }}


{{ blocks }}

    {{ partial:layout/block-section attrs="{{view:sectionAttrs[index]}}" noGutters="{{index == 0 ? true : false}}" noContainer="{{index == 0 ? true : false}}"}}
        {{ partial src="sets/{type}/{version}" }}
    {{ /partial:layout/block-section }}
{{ /blocks }}
